<div class="container">
  <table class="table table-striped  table-dark table-bordered table-hover table-responsive">
    <thead class="thead-light">
      <tr>
        <th>title</th>
        <th>description</th>
        <th>price</th>
        <th>created_at</th>
        <th>tags</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <%= render partial: 'product', locals: { product: product } %>
      <% end %>
    </tbody>
  </table>
</div>